<section class="text-gray-600 body-font bg-gray-200 bg-opacity-75 pb-40">
  <div class="p-6 flex">
    <h1 class="text-3xl">
      Listado de Permisos
    </h1>
  </div>
  <div class="px-3 py-4 flex justify-center">
    <table class="w-9/12 text-md bg-white shadow-md rounded mb-4 table-auto">
      <tbody>
        <tr class="border-b">
          <th class="text-center p-3 px-5">Fecha Inicial</th>
          <th class="text-center p-3 px-5">Fecha Final</th>
          <th class="text-center p-3 px-5">Propuesta</th>
          <th class="text-center p-3 px-5">Tipo de Permiso</th>
          <th class="text-center p-3 px-5">Motivo del Permiso</th>
        </tr>
        <% @permissions.each do |permission| %>
          <tr class="border-b hover:bg-orange-100 bg-gray-100">
            <td class="p-3 px-5"><%= permission.start_date %></td>
            <td class="p-3 px-5"><%= permission.end_date %></td>
            <td class="p-3 px-5"><%= permission.proposal %></td>
            <td class="p-3 px-5"><%= permission.type_permission.description %></td>
            <td class="p-3 px-5"><%= permission.reason_permission.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>